.unit__wrapper {
    width: 100px;
    height: 160px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}

.unit__image {
    width: 100px;
    height: 115px;
}

.first-team {
    border: 1px solid yellow;
}

.second-team {
    border: 1px solid red;
}

.can-attacked {
    background-color: red;
}

.active {
    background-color: blue;
}

.unit__title {
    margin: 0;
}

.active__title-unit {
    color: antiquewhite;
}

.unit__health {
    margin: 0;
}

.unit__wrapper-title {
    display: flex;
    justify-content: center;
    gap: 5px;
}
